*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.svn
.idea
.gradle
dianna/test/*
dianna/web/logs/*
dianna/web/build/
dianna/domain/build/
dianna/service/build/
logs/*
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

classes/*